.container {
  max-width: 800px;
  min-height: 100vh;
  margin: 0 auto;
  border: 1px solid red;
  padding: 0px 15px;
}

.container > main {
  padding-top: 30px;
}

.container > footer {
  padding: 50px 0px;
  font-size: small;
  text-align: center;
  color: gray;
}
