.container {
  display: flex;
  flex-direction: column; 
  max-width: 700px;
  min-height: 100vh;
  margin: 0 auto;
  border: 1px solid red;
  padding: 0px 15px;
}

.container > main {
  flex: 1;
  justify-items: center;
  padding-top: 30px;
}

.container > footer {
  padding: 50px 0px;
  font-size: small;
  text-align: center;
  color: gray;
}
