.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 1.25rem;
  width: 100%;
  max-width: 1000px;
  padding: 0 1rem;
  box-sizing: border-box;
}

.flexRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 24px;
  flex-wrap: wrap;
  align-items: stretch;
}

@media (max-width: 860px) {
  .flexRow {
    flex-direction: column;
  }
}
